{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Welcome, Coach {{ current_user.username }}!</h2>
    <p>You are logged in as a <strong>Coach</strong>.</p>

    <!--table with athletes asigned to the coach-->

    <h2>Your Athletes</h2>
    {% if athletes %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Sport</th>
                    <th>Position</th>
                    <th>Acute Load (7 days)</th>
                    <th>Chronic Load (28 days)</th>
                    <th>ACWR Ratio</th>
                    <th>Risk Level</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for athlete in athletes %}
                <tr>
                    <td>{{ athlete.user.username }}</td>
                    <td>{{ athlete.user.email }}</td>
                    <td>{{ athlete.sport }}</td>
                    <td>{{ athlete.position }}</td>
                    <td>{{ athlete.acute_load }}</td>
                    <td>{{ athlete.chronic_load }}</td>
                    <td calss="fw-bold">{{ athlete.acwr_ratio }}</td>

                    <!--Condition to display right badge based ob risk status-->
                    <td>
                        {% if athlete.risk_level == 'Low' %}
                            <span class="badge bg-success">Low (Under Trained)</span>
                        {% elif athlete.risk_level == 'Optimal' %}
                            <span class="badge bg-primary">Optimal</span>
                        {% elif athlete.risk_level == 'Moderate' %}
                            <span class="badge bg-warning text-dark">Moderate</span>
                        {% elif athlete.risk_level == 'High' %}
                            <span class="badge bg-danger">High risk of injury</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No athletes assigned to you yet.</p>
    {% endif %}
</div>
{% endblock %}